/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", serif;
    background: #f4f4f4;
}   

a,
li {
    list-style: none;
    text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    background: rgba(0,0,0,0.9);

}
.navbar .logo{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2px;
}
.navbar .logo img{
    width: 2rem;
    display: block;

}
.navbar ul{
    display: flex;
    align-items: center;
    position: relative;
}
.navbar ul li{
    padding: 0 2.5rem;
}
.navbar ul li a{
   
    color: #fff;
    position: relative;
}
.navbar ul li a::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Initially hide the underline */
    transform-origin: bottom right;
    transition: transform 0.3s ease;

}
.navbar ul li a:hover::after {
    transform: scaleX(1); /* Reveal the underline on hover */
    transform-origin: bottom left;
}
.menu {
    display: none;
    flex-direction: column;
    align-items: center;
}
.menu span{
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 2px;
}


.main-navbar {
    background-size: cover;
    background-image: url(https://myways-public-data-prod.s3.ap-south-1.amazonaws.com/myways-resource-library/blogs/what-is-machine-learning-and-what-are-different-types-of-algorithm-of-ml_Image_blogs.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 5rem 0;

}

.home-bx{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 1rem 5rem;
    gap: 5rem;
}
.main-navbar h1 {
    margin: 0;

}

.left-section {
    width: 600px;
    align-self: flex-start;

}

.left-section h1 {
    margin: 0;
    font-size: 40px;
    color: white;


}

.left-section p {
    margin: 0;
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(180, 180, 183);
    margin-top: 20px;
    line-height: 25px;

}

.left-section button {
    color: rgb(10, 0, 0);
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    padding: 12px 50px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.left-section button:hover {
    background: rgb(36, 1, 69);
    color: white;
}

.right-section {
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 40px 20px;
}

.right-section h4 {
    font-size: 35px;
    color: black;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    opacity: 0.8;
    text-align: center;
}

.input-group {
    width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;


}

.input-group label {

    color: black;
    font-size: 14px;

}

.input-group input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;

}

.submit {
    text-align: center;
}

.submit-button {
    background-color: rgb(3, 84, 20);
    color: white;
    border: none;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    width: 300px;
    cursor: pointer;
}



.about {
    
    padding: 2rem 0 1rem 0;
    text-align: center;

}
.about h1{
    font-size: 2rem;
}

.about p {
    font-size: 0.9rem;
    font-weight: bolder;
    width: 80%;
    margin: 0 auto;
}
.section-two{
    padding: 1.5rem 0;
}
.section-two .trainer-bx{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.card-container {
    border-radius: 30px;
    text-align: center;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}

.image-container img {
    display: block;
    width: 100%;
    transition: 0.5s;
    overflow: hidden;
}

.image-container img:hover {
    transform: scale(1.1);
}

.video-section {
    padding: 2rem 0 1rem 0;
}

.container {
    padding: 0 7%;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 2rem;
}

.title p {
    font-size: 14px;
}

.videos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    gap: 2rem;

}

footer {
    background: #000;
    color: #101010;
    padding: 1.5rem 0;
    text-align: center;
    color: #fff;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

footer ul li a {
    padding: 0 1rem;
    color: #fff;
    font-size: 1.5rem;
}

/* responsive */
@media (max-width: 991px){
    .home-bx{
        flex-direction: column;
    }
    .trainer-bx{
        flex-direction: column;
    }
    .videos{
        flex-direction: column;
    }
}
@media (max-width: 776px){
    .menu {
        display: flex;
    }
    .navbar ul{
        flex-direction: column;
        position: absolute;
        top: 4.5rem;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.9);
        display: none;
        width: 100%;
        
    }
    .navbar.active ul {
        display: flex; /* Show the menu */
    }
    
    /* Optional: Add a transition effect for the menu */
    .navbar ul {
        transition: all 0.3s ease-in-out;
    }
    .navbar ul li{
        padding: 1rem 0;
        

    }
}